<!DOCTYPE html>
<html>
  <head>
    <title>Shareship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'shared/header' %>
    <%= yield %>
  	<%= render 'shared/footer' %>
  </body>
</html>
